body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  --appbar-hight: 56px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#app > main {
  flex: 1;
  position: relative;
  width: 100%;
}

#app > main > .section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}

button.svelte-e3h5hm.svelte-e3h5hm {
  border: 1px solid #f6f6f6;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.app-bar.svelte-e3h5hm.svelte-e3h5hm {
  --color: #565c64;
  --color-act: #0369a1;
  --bg: #ffffff;
  --bgs: #f4f4f4;
  --bg-btn: #e2e2e2;
  --appbar-hight: 56px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  background-color: var(--bgs);
  color: var(--color);
}

.app-bar.svelte-e3h5hm nav.svelte-e3h5hm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--appbar-hight);
}

.app-bar.svelte-e3h5hm nav button.svelte-e3h5hm {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  min-height: var(--appbar-hight);
  color: var(--color);
  padding: 0.2rem 1rem;
  border-radius: 0;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.25s;
}

.app-bar.svelte-e3h5hm nav button.svelte-e3h5hm:hover {
  opacity: 0.7;
  background-color: var(--bg-btn);
}

.app-bar.svelte-e3h5hm nav button.svelte-e3h5hm:active {
  background-color: var(--bg-btn);
  opacity: 0.8;
  color: var(--color-act);
}

.app-bar.svelte-e3h5hm nav button svg.svelte-e3h5hm {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 0 0.2rem;
}

.app-bar.svelte-e3h5hm nav .brand.svelte-e3h5hm {
  padding: 0 var(--px, 1rem);
  font-size: 1.2rem;
  font-weight: 600;
}

section.svelte-afqjz5 {
  --color: #565c64;
  --bg: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
  transform: translate(100%);
  transition: transform 0.4s ease-in;
}

section.active.svelte-afqjz5 {
  transform: translate(0);
}

.test.svelte-afqjz5 {
  border: 1px solid red;
}
